.parent{
min-width: 900px;
min-height: 1000px;
background-color: rgb(34, 33, 33);
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
flex-direction: column;
}
.closeBtn{
  background-color: rgba(255, 255, 255, 0);
  width: 20px;
  border:0px;
  font-size: 25px;
  color:aliceblue;
  cursor: pointer;
  position: relative; top: -155px; left: 270px;
}
  .header{
  background-color: rgb(0, 82, 97);
  height: 150px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
    .title{
      font-size: 50px;
      text-align: center;
      color: aliceblue;
      position: relative; top: 40px;
      width: 300px;
    }
    .addBtn{
      font-size: 30px;
      color: aliceblue;
      background-color: rgb(0, 82, 97);
      position: relative; right: 90px; top: 45px;
      height: 40px;
      width: 135px;
      text-align: center;
      border: 3px solid rgba(36, 34, 34, 0.781);
      border-radius: 10px;
      cursor: pointer;
    }
  .body{
    width: auto;
    height: 100%;
    background-color: rgba(255, 235, 205, 0);
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
  }
    .card{
      margin: 10px 10px 10px 10px;
     width: 300px;
     height: 150px;
     background: linear-gradient(135deg, rgba(44,25,66,1) 0%, rgba(35,85,96,1) 100%);
     border-radius: 10px;
     display: flex;
     flex-direction: column;
    }
    .book-title{
      color:whitesmoke;
      margin: 10px 10px 10px 10px;
    }
    .book-author{
      color: whitesmoke;
      margin: 10px 10px 10px 10px;
    }
    .book-page{
      color: whitesmoke;
      margin: 10px 10px 10px 10px;
    }
    .status{
      font-size: 12px;
      color: whitesmoke;
      margin: 0px 0px 0px 185px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 17px;
      position: relative; top: -14px; left:260px;
    }
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked + .slider {
      background-color: #2196F3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 17px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
    #overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
      display: flex;
    }
    .popUp-form{
      height: 400px;
      width: 250px;
      background-color: rgb(0, 82, 97);
      margin: auto;
      margin-top: 300px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
    }
    .popUp-header{
      color: aliceblue;
      margin: 10px;
      text-align: center;
    }
    .popUpTitles{
      color: aliceblue;
      margin-left: 10px;
    }
    .popUptextBox{
      border: 1px solid rgba(255, 228, 196, 0.199);
      height: 20px;
      width: 220px;
      color: aliceblue;
      background-color: rgb(0, 82, 97);
      margin-left: 10px;
    }
    .submitBtn{
      background: none;
      color: aliceblue;
      border: 1px solid rgba(255, 228, 196, 0.4);
      padding: 3px;
      font: inherit;
      cursor: pointer;
      position: relative; top:5px; left:43px;
      border-radius: 3px;
    }
    .cancelBtn{
      background: none;
      color:  aliceblue;
      border: 1px solid rgba(255, 228, 196, 0.4);
      padding: 3px;
      font: inherit;
      cursor: pointer;
      position: relative; top:5px; left:90px;
      border-radius: 3px;

    }